div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.blogList{
    text-align: left;
}

.comment{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}

.userCreateForm{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.blogCard{
    margin-top: 50px;
    width:60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blogForm{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.cardBtn{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.infoEnable{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.infoDisable{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
 }

.topBar{
    background: midnightblue;
    max-width: none;
    margin: auto;
    padding: 10;
    color: white;
}

div.login{
    display: block;
    text-align: center;
    margin-top: 25%;
}

.loginForm{
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.logBtn{
    padding: 3px;
    margin: 10px;
}

.logged{
    float:right;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.blog {
    padding-top: 10;
    padding-left: 2;
    border: 'solid';
    border-width: 1;
    margin-bottom: 5;
}
